/* Container-SideController-PlaylistSet */

@keyframes expandAnimation {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(0%);
  }
}

.playlist-set-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: #d9d9d9;
  box-sizing: border-box;
  z-index: 2;
  animation: expandAnimation 0.5s ease-out;
}

.header{
  width: 100%;
  height: 10%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.playlist-menu{
  position:fixed;
  right: 0;
  top: 0;
  width: 5%;
  height: 10%;
  z-index: 3;
}
.playlist-menu img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.playlist-adder {
  width: 100%;
  height: 10%;
  min-height: 50px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.playlist-adder button {
  color: #fff;
  background-color: #2f78ff;
  border-radius: 50px;
  border: transparent;
  transition: background-color 0.3s, width 0.3s, height 0.3s; /* 트랜지션 효과 추가 */
}
.playlist-adder button:hover {
  background-color: #2554cc;
  width: 90%;
  height: 90%;
}
.playlist-adder button:active {
  background-color: #1c3c99;
  width: 90%;
  height: 90%;
}


.playlist-set {
  width: 100%;
  height: 90%;
}
.playlist-wrapper{
  width: 100%;
  height: 80px;
  box-sizing: border-box;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.delete-button-area{
  width: 10%;
}
.playlist-info{
  width: 70%;
  height: 100%;
  box-sizing: border-box;
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  .name{
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
  }
  .songs-count{
    left: 30%;
    color: #7E7E7E;
    font-size: 15px;
    font-weight: 600;
    margin-left: 20px;
  }
}

.playlist-enter{
  width: 20%;
  height: 100%;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}

.adder-modal{
  position:absolute;
  bottom: 0;
  width: 100%;
  height: 25%;
  z-index:3;
  border-radius: 10px;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #D9D9D9;
}
.adder-modal span{
  width: 100%;
  height: 30%;
  margin-left: 10%;

  display: flex;
  font-size: 22px;
  font-weight: 700;
  justify-content: flex-start;
  align-items: flex-end;
}

.search-engine {
  width: 90%;
  height: 40%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.search-engine input {
  width: 100%;
  height: 80%;
  max-height: 50px;
  font-size: 20px;

  background-color: #a9a9a9;
  border: transparent;
  border-radius: 20px;
}
.search-engine input::placeholder {
  color: #F0E8E8;
}

.adder-modal-button-area{
  width: 100%;
  height: 30%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.confirm-button{
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  height: 100%;
  width: 50%;
  background-color: #2f78ff;
  border:transparent;
  transition: background-color 0.3s, width 0.3s, height 0.3s; /* 트랜지션 효과 추가 */
}
.confirm-button:hover {
  background-color: #2554cc;
  width: 90%;
  height: 90%;
}
.confirm-button:active {
  background-color: #1c3c99;
  width: 90%;
  height: 90%;
}
.cancel-button{
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  height: 100%;
  width: 50%;
  background-color: #FF0000;
  border: transparent;
  transition: background-color 0.3s, width 0.3s, height 0.3s; /* 트랜지션 효과 추가 */
}
.cancel-button:hover {
  background-color: #ff6666; 
  width: 90%;
  height: 90%;
}
.cancel-button:active {
  background-color: #cc0000; 
  width: 90%;
  height: 90%;
}