/* Container-SideController-SearchEngine */

.search-engine-wrapper {
  position: relative;
  width: 100%;
  height: 10%;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  background-color: #F0E8E8;
}
.search-engine-wrapper-active {
  position: absolute;
  width: 100%;
  height: 10%;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  background-color: #d9d9d9;
}

.search-engine-area {
  position: relative;
  width: 88%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.search-engine {
  position: relative;
  width: 80%;
  height: 75%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.search-engine input {
  width: 100%;
  height: 100%;
  max-height: 50px;
  font-size: 16px;

  background-color: #a9a9a9;
  border: transparent;
  border-radius: 20px;
}

.search-engine input::placeholder {
  color: #F0E8E8;
}

.search-icon {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 20px;
}

.search-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.playlist-menu {
  position: relative;
  width: 12%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index:3;
}

.playlist-menu img {
  width: 93%;
  height: 93%;
  object-fit: scale-down;
}
