.side-container-header{
  width: 100%;
  height: 10%;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  background-color: #F0E8E8;
  outline: 2px solid black;/*임시*/
}

.side-container-header span{
  position: absolute;
  left: 30px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
